---
import '../styles/global.css';
import Header from './Header.astro';
import Footer from './Footer.astro';

export interface Props {
  title: string;
  description?: string;
}

const { title, description = "Lycée Sud-Médoc La Boétie - Établissement d'enseignement secondaire au Taillan-Médoc" } = Astro.props;
---

<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/images/logo.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <title>{title}</title>
  </head>
  <body class="bg-gray-50">
    <Header />
    
    <main>
      <slot />
    </main>

    <Footer />
  </body>
</html>
